
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# Domain name, used by caddy
DOMAIN_NAME=stagingserver.xyz 

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=adminpanel
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=G.OyVL-D``^*@LZDArK_ddD/oGK,o/YXBD57?;X5^75@{3|d[e
DJANGO_ALLOWED_HOSTS=.stagingserver.xyz 

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True


COMPRESS_ENABLED=

