{% extends "base.html" %}
{% load static i18n %}
{% block title %}Leeds{% endblock %}

{% block content %}
<div class="container">
  <h2>Leeds</h2>

  <div class="list-group">
    {% for leed in leed_list %}
      <a href="{% url 'users:leed_detail' leed.pk %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ leed.name }}</h4>
        <h5 class="list-group-item-heading">{{ leed.email }}</h5>
        <h5 class="list-group-item-heading">{{ leed.phone_number }}</h5>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
