<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="background-color: transparent;">
<script type="text/javascript" id="dclg-impact-indicators-embedder-5b8cf3a4-b0f0-13e9-3737-d5a159268ae6" class="dclg-impact-indicators-async-script-loader">
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = 'http://127.0.0.1:8000/en/widgets/widgetjs/e22ec752-cbd4-4247-96c4-2cb73db7f6f0.js/';
  var embedder = document.getElementById('dclg-impact-indicators-embedder-5b8cf3a4-b0f0-13e9-3737-d5a159268ae6');
  embedder.parentNode.insertBefore(s, embedder);
</script>
</body>
</html>