{% extends "base.html" %}
{% load crispy_forms_tags static %}

{% block title %}Create new widget{% endblock %}

{% block content %}
  <h1>Create new widget</h1>
  <form class="form-horizontal" method="post" action="{% url 'widgets:widget_create' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Create</button>
      </div>
    </div>
  </form>
{% endblock %}
{% block include_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-material-datetimepicker.js' %}"></script>
<script type="text/javascript">
$('#id_date_end').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', weekStart : 0 });
$('#id_date_start').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', weekStart : 0 }).on('change', function(e, date)
{
$('#id_date_end').bootstrapMaterialDatePicker('setMinDate', date);
}); 

</script>            
{% endblock include_javascript %}
{% block include_css %}
<link href="{% static 'css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
{% endblock include_css %}