.sf-wrapper { overflow: hidden; }

.sf-container { overflow: hidden; }

.sf-step.sf-active { margin: 10px 0; }

.sf-step { float: left; }

.sf-error { color: #DD0000; }

.sf-navigation {
  line-height: 1em;
  overflow: hidden;
  text-align: right;
}
/*
.sf-navigation .nav-prev, .sf-navigation .nav-next {
  display: block;
  padding: 8px 15px;
  border: 1px solid #CCCCCC;
  color: #000;
  background: #FFFFFF;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
}
*/
.sf-navigation a {
  outline: none;
  text-decoration: none;
}

input[type="date"], 
input[type="datetime-local"], 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="search-md"], 
input[type="search"], 
input[type="tel"], 
input[type="text"], 
input[type="time"], 
input[type="url"], 
textarea.md-textarea {
  background-color: transparent;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  outline: 0;
  height: 2.1rem;
  width: 100%;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.widget-form-control {
    padding: .5rem 0 .6rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    margin-top: .2rem;
    margin-bottom: 1rem;
}

.widget-form-control {
    width: 100%;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.widget-form-control, .form-control-file, .form-control-range, .form-text {
    display: block;
}

.widget-form-control {
    width: 100%;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.widget-form-control, .form-control-file, .form-control-range, .form-text {
    display: block;
}

.md-form {
    position: relative;
}

.md-form, .md-form .btn {
    margin-bottom: 1.5rem;
}

.sf-navigation .nav-prev, .sf-navigation .nav-next {
font-size: .8rem;
padding: .85rem 2.13rem;
margin: 6px;
border-radius: 2px;
border: 0;
-webkit-transition: .2s ease-out;
transition: .2s ease-out;
white-space: normal !important;
word-wrap: break-word;
cursor: pointer;
-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
text-transform: uppercase;
display: inline-block;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
line-height: 1.25;
font-weight: 400;
}

.sf-navigation .nav-prev {
  opacity: .5;
  float: left;
}

.sf-navigation .nav-next {
  float: right;
  margin-left: 5px;
}

.sf-navigation span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 12px 15px 0 0;
  background: #CCCCCC;
}

.sf-navigation span.sf-nav-done { background: #a6e6a6; }

.sf-navigation span.sf-nav-active { background: #00CC00; }

.sf-navigation span.sf-nav-error { background: #DD0000; }